<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация или Регистрация</title>
    <link rel="stylesheet" href="static/styles/fonts.css">
    <link rel="stylesheet" href="static/styles/style-auth_menu.css">
</head>

<body>
    <div class="head_main">
        <div class="fon">
            <img src="static/images/fon.png" class="image">
        </div>
        <div class="text_auth">
            <header>
                <h1>Добро пожаловать в мир захватывающих историй!</h1>
            </header>

            <main>
                <section>
                    <h2 class="info">Мы собрали для вас лучшие рекомендации книг и фильмов,<br> чтоб каждая история
                        понравилась именно вам.</h2>
                    <h2 class="choice">Выберите действие:</h2>
                    <nav>
                        <a href="/login" class="btn" style="text-decoration: none;">Войти</a>
                        <a href="/register" class="btn" style="text-decoration: none;">Зарегистрироваться</a>
                    </nav>
                </section>
            </main>
        </div>

    </div>
    <div class="part2">
        <div class="container">
            <img src="static/images/логотип.png" class="logo" />
            <div class="place">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-map-pin">
                    <path
                        d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0" />
                    <circle cx="12" cy="10" r="3" />
                </svg>
                <p> г.Санкт-Петербург <br>Большая морская ул., 67
                <p>
            </div>

        </div>
    </div>


</body>

</html>