<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация или Регистрация</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать</h1>
    </header>

    <main>
        <section>
            <h2>Выберите действие:</h2>
            <nav>
                <a href="/login">Войти</a> | 
                <a href="/register">Зарегистрироваться</a>
            </nav>
        </section>
    </main>


</body>
</html>
