<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/fonts.css">
    <link rel="stylesheet" href="static/styles/style-horoscope.css">
    <title>Гороскоп</title>
</head>

<body>

    <header class="header">

        <div class="container">
            <div class="wrapper">
                <div class="left-section">
                    <img src="static/images/логотип.png" class="logo" />
                    <span class="name">two <br>chairs</span>
                </div>
                <div class="main-section">
                    <!-- <form action="">
                        <input type="text" class="search-bar">
                    </form> -->
                </div>
                <div class="right-section">
                    <div>
                        <a href="/profile">
                            <img class="avatar" src="https://cdn.ebaumsworld.com/mediaFiles/picture/1151541/84693449.png" alt="Avatar">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main class="main">
        <div class="container">
            <div class="wrapper">
                <div class="left-section">
                    <nav class="navigation">
                        <a class="navigation-item " href="/main">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-house">
                                <path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8" />
                                <path
                                    d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                            </svg>
                            Домой
                        </a>
                        <a class="navigation-item " href="/books">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-library-big">
                                <rect width="8" height="18" x="3" y="3" rx="1" />
                                <path d="M7 3v18" />
                                <path
                                    d="M20.4 18.9c.2.5-.1 1.1-.6 1.3l-1.9.7c-.5.2-1.1-.1-1.3-.6L11.1 5.1c-.2-.5.1-1.1.6-1.3l1.9-.7c.5-.2 1.1.1 1.3.6Z" />
                            </svg>
                            Книги
                        </a>
                        <a class="navigation-item" href="/movies">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-clapperboard">
                                <path d="M20.2 6 3 11l-.9-2.4c-.3-1.1.3-2.2 1.3-2.5l13.5-4c1.1-.3 2.2.3 2.5 1.3Z" />
                                <path d="m6.2 5.3 3.1 3.9" />
                                <path d="m12.4 3.4 3.1 4" />
                                <path d="M3 11h18v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Z" />
                            </svg>
                            Фильмы
                        </a>
                        <a class="navigation-item active" href="/horoscope">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-sparkles">
                                <path
                                    d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z" />
                                <path d="M20 3v4" />
                                <path d="M22 5h-4" />
                                <path d="M4 17v2" />
                                <path d="M5 18H3" />
                            </svg>
                            Гороскоп
                        </a>
                        <a class="navigation-item" href="/random">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="lucide lucide-clover">
                                <path d="M16.17 7.83 2 22" />
                                <path
                                    d="M4.02 12a2.827 2.827 0 1 1 3.81-4.17A2.827 2.827 0 1 1 12 4.02a2.827 2.827 0 1 1 4.17 3.81A2.827 2.827 0 1 1 19.98 12a2.827 2.827 0 1 1-3.81 4.17A2.827 2.827 0 1 1 12 19.98a2.827 2.827 0 1 1-4.17-3.81A1 1 0 1 1 4 12" />
                                <path d="m7.83 7.83 8.34 8.34" />
                            </svg>
                            Мне повезет
                        </a>
                    </nav>
                </div>
                <div class="main-section">
                    <form class="form" action="/get_horoscope" method="POST">
                        <label for="sign">Выберите ваш знак зодиака:</label>
                        <select class="select" name="sign" id="sign">
                            <option value="aries">Овен</option>
                            <option value="taurus">Телец</option>
                            <option value="gemini">Близнецы</option>
                            <option value="cancer">Рак</option>
                            <option value="leo">Лев</option>
                            <option value="virgo">Дева</option>
                            <option value="libra">Весы</option>
                            <option value="scorpio">Скорпион</option>
                            <option value="sagittarius">Стрелец</option>
                            <option value="capricorn">Козерог</option>
                            <option value="aquarius">Водолей</option>
                            <option value="pisces">Рыбы</option>
                        </select>
                        <button type="submit">Получить гороскоп</button>
                    </form>
                    <!--                     
                    {% if horoscope %}
                        <h2>Гороскоп для {{ sign|capitalize }}:</h2>
                        <p>{{ horoscope }}</p>
                        <h3>Лучшая категория: {{ top_category }} ({{ stars }} звёзд)</h3>
                        <h3>Фильмы:</h3>
                        <ul>
                            {% for movie in random_movies %}
                                <li>{{ movie }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>{{ error }}</p>
                    {% endif %} -->
                    <div class="info-section">
                        <h2 class="dopinf">Можете узнать свой знак зодиака по дате рождения</h2>
                        <div class="cards">
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Овен</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>21 марта - <br>20 апреля</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/oven.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Телец</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>21 апреля - <br>20 мая</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/tel.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Близнецы</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>21 мая - 21 <br>июня</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/bl.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Рак</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>22 июня - <br>22 июля</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/signes_et_symboles_du_zodiaque_illustrations_vectorielles_d'astrologie (9).jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Лев</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>23 июля - <br>22 августа</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/leo.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Дева</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>23 августа - <br>23 сентября</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/dev.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Весы</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>24 сентября - <br>23 октября</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/ves.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Скорпион</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>24 октября - <br>22 ноября</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/scor.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Стрелец</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>23 ноября - <br>21 декабря</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/str.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Козерог</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>22 декабря - <br>20 января</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/koz.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Водолей</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>21 января - <br>18 февраля</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/vod.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card__bottom">
                                    <span class="card_title">Рыбы</span>
                                    <div class="date">
                                        <svg class="calendar" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="lucide lucide-calendar-fold">
                                            <path d="M8 2v4" />
                                            <path d="M16 2v4" />
                                            <path d="M21 17V6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11Z" />
                                            <path d="M3 10h18" />
                                            <path d="M15 22v-4a2 2 0 0 1 2-2h4" />
                                        </svg>
                                        <span>19 февраля - <br>20 марта</span>
                                        <div class="card__top">
                                            <img class="card__image" src="static/images/fish.jpg" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
</body>

</html>
