<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт книг и фильмов</h1>
    </header>

    <main>
        <section>
            <h2>Навигация</h2>
            <nav>
                <ul>
                    <li><a href="/books">Лента книг</a></li>
                    <li><a href="/movies">Лента фильмов</a></li>
                    <li><a href="/random">Рандомайзер книг и фильмов</a></li>
                    <li><a href="/profile">Профиль</a></li>
                </ul>
            </nav>
        </section>
    </main>

    <footer>
        <p>&copy; Мы еще и меню</p>
    </footer>
</body>
</html>
