<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="static/styles/fonts.css">
    <link rel="stylesheet" href="static/styles/style-main_page.css">
</head>

<body>
    <header class="header">

        <div class="container">
            <div class="wrapper">
                <div class="left-section">
                    <img src="static/images/логотип.png" class="logo" />
                    <span class="name">two <br>chairs</span>
                </div>
                <div class="main-section">
                    <!-- <form action="">
                        <input type="text" class="search-bar">
                    </form> -->
                </div>
                <div class="right-section">
                    <div>
                        <a href="/profile">
                            <img class="avatar" src="https://cdn.ebaumsworld.com/mediaFiles/picture/1151541/84693449.png" alt="Avatar">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <main>
        <h1 class="headtext">Добро пожаловать на сайт книг и фильмов</h1>
        <section>
            <div class="cards">
                <div class="card">
                    <div class="card__top">
                        <a href="/books" class="card__image">
                            <img src="static/images/кнтги.png" />
                        </a>
                    </div>
                    <div class="card__bottom">
                        <a href="/books" class="card__title">
                            Книги
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <a href="/movies" class="card__image">
                            <img src="static/images/Cinema production process_ Film.jpg" />
                        </a>
                    </div>
                    <div class="card__bottom">
                        <a href="/movies" class="card__title">
                            Фильмы
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <a href="/random" class="card__image">
                            <img src="static/images/удача.png" />
                        </a>
                    </div>
                    <div class="card__bottom">
                        <a href="/random" class="card__title">
                            Мне повезет
                        </a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__top">
                        <a href="/horoscope" class="card__image">
                            <img src="static/images/загруженное (1).jpg" />
                        </a>
                    </div>
                    <div class="card__bottom">
                        <a href="/horoscope" class="card__title">
                            Гороскоп
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- <footer>
        <p>&copy; Мы еще и меню</p>
    </footer> -->
</body>

</html>