<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рандомайзер</title>
    <link rel="stylesheet" href="static/styles/fonts.css">
    <link rel="stylesheet" href="static/styles/style-random.css">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <div class="container">
            <div class="wrapper">
                <div class="left-section">
                    <img src="static/images/логотип.png" class="logo" alt="Logo" />
                    <span class="name">two <br>chairs</span>
                </div>
                <div class="right-section">
                    <a href="/profile">
                        <img class="avatar" src="https://cdn.ebaumsworld.com/mediaFiles/picture/1151541/84693449.png" alt="Avatar">
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <main class="main">
        <div class="container">
            <div class="wrapper">
                <!-- Left Navigation -->
                <div class="left-section">
                    <nav class="navigation">
                        <a class="navigation-item" href="/main">
                            Домой
                        </a>
                        <a class="navigation-item" href="/books">
                            Книги
                        </a>
                        <a class="navigation-item" href="/movies">
                            Фильмы
                        </a>
                        <a class="navigation-item" href="/horoscope">
                            Гороскоп
                        </a>
                        <a class="navigation-item active" href="/random">
                            Мне повезет
                        </a>
                    </nav>
                </div>

                <!-- Random Recommendations -->
                <div class="main-section">
                    <h2 class="zag">Случайные рекомендации</h2>
                    <button class="btn" onclick="location.reload()">Сгенерировать снова</button>
                    <div class="cards">
                        <!-- Book Card -->
                        <div class="card">
                            <div class="card__top">
                                <img class="card__image" src="{{ book.thumbnail }}" alt="Book Thumbnail" />
                            </div>
                            <div class="card__bottom">
                                <h3 class="card_title">{{ book.title }}</h3>
                                <p><strong>Автор:</strong> {{ book.authors }}</p>
                                <p><strong>Год публикации:</strong> {{ book.published_year }}</p>
                                <p><strong>Категория:</strong> {{ book.categories }}</p>
                                <p><strong>Описание:</strong> {{ book.description }}</p>
                                <p><strong>Рейтинг:</strong> {{ book.average_rating }}</p>
                                <button class="card_button">Подробнее</button>
                            </div>
                        </div>
                        <!-- Movie Card -->
                        <div class="card">
                            <div class="card__top">
                                <img class="card__image" src="{{ movie.Post_url }}" alt="Movie Thumbnail" />
                            </div>
                            <div class="card__bottom">
                                <h3 class="card_title">{{ movie.title }}</h3>
                                <p><strong>Жанр:</strong> {{ movie.genre }}</p>
                                <p><strong>Год выпуска:</strong> {{ movie.year }}</p>
                                <p><strong>Описание:</strong> {{ movie.description }}</p>
                                <p><strong>Рейтинг:</strong> {{ movie.score }}</p>
                                <button class="card_button">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
